@import url('../twentytwelve/style.css');


/******************************************************************************/
/* RESET */
/******************************************************************************/
html {
	overflow-y: scroll;
}
/* IE7 Only */
*+ html {
	overflow-y: scroll;
}


*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Clearfix: Courtesy http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
	display: block;
}
/* End hide from IE Mac */


/******************************************************************************/
/* elements */
/******************************************************************************/
span.block {
	display: block;
	margin: 1px 0 0 0;
	padding: 0;
}

span.block.smaller {
	font-size: .875em;
}

span.block.smaller.italic {
	font-style: italic;
}


/******************************************************************************/
/* PresenPress */
/******************************************************************************/
.reveal .slides {
	font-size: .95em !important;
	line-height: 1.2 !important;
	text-align: left !important;
	width: 1100px !important;
	letter-spacing: -1px !important;
	margin: 0 !important;
	padding: 0 !important;

	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;

	-webkit-text-rendering: optimizeLegibility !important;
	text-rendering: optimizeLegibility !important;

	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
}


#social-buttons {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}


.reveal section img {
	background: none;
	border: none;
	box-shadow: none;
	margin: 10px;
}

.reveal a:hover img {
	background: none;
	border-color: none;
	box-shadow: none;
}


.reveal .alignleft {
	float: left;
}

.reveal .alignright {
	float: right;
}

.reveal .aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.reveal h1 {
	font-size: 2.5em;
}

.reveal h2 {
	font-size: 1.5em;
}

.reveal h3 {
	font-size: 1.17em;
}

.reveal h4 {
	font-size: 1em;
}

.reveal h1 {
	-webkit-text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2) !important;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2) !important;
}


.reveal ol {
	list-style: decimal;
}

.reveal ol ol {
	list-style: lower-roman;
}

.reveal ol ol ol {
	list-style: lower-latin;
}

.reveal ol ol ol ol {
	list-style: lower-latin;
}

.reveal li {
	margin-left: 0;
}


.reveal h2 ol {
	margin-left: 30px;
}


.reveal sub,
.reveal sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.reveal sup {
	top: -0.5em;
}

.reveal sub {
	bottom: -0.25em;
}


.reveal .blue {
	color: #1f749c;
}

.reveal .yellow {
	color: rgb(255, 211, 25);
}

.reveal .green {
	color: rgb(0, 138, 53);
}

.reveal .red {
	color: rgb(255, 0, 0);
}

.reveal .black {
	color: black;
}

.reveal .white {
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}


.reveal table {
	font-size: 93%;
	width: 100%;
	margin: 1em;
	overflow: hidden;
}

.reveal table.hidden {
	display: none;
}

.reveal table.border {
	*border-collapse: collapse;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid rgba(0, 0, 0, .2);
	border-top: none;

	border-radius: 2px;
}

.reveal table.border th {
	font-weight: 600;
	text-align: left;
	color: #000;

	background-color: rgba(245, 245, 245, 0.5);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .5)), color-stop(100%, rgba(238, 238, 238, 0.5)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(238, 238, 238, 0.5));
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(238, 238, 238, 0.5));
}

.reveal table.border td,
.reveal table.border th {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 8px;
	vertical-align: top;
}

.reveal table.border tr,
.reveal table.border th,
.reveal table.border td {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-right: none;
	border-bottom: none;
}

.reveal table.border thead td:first-child,
.reveal table.border thead th:first-child {
	border-radius: 2px 0 0 0;
}

.reveal table.border thead td:last-child,
.reveal table.border thead th:last-child {
	border-radius: 0 2px 0 0;
}

.reveal table.border thead td:only-child,
.reveal table.border thead th:only-child {
	border-radius: 2px 2px 0 0;
}

.reveal table.border tbody tr:last-child td:first-child,
.reveal table.border tfoot tr:last-child td:first-child {
	border-radius: 0 0 0 2px;
}

.reveal table.border tbody tr:last-child td:last-child,
.reveal table.border tfoot tr:last-child td:last-child {
	border-radius: 0 0 2px 0;
}

.reveal table.no-border,
.reveal table.no-border tr,
.reveal table.no-border th,
.reveal table.no-border td {
	border: none;
}

.reveal table.no-border {
	border-radius: 0;
}

.reveal table.no-border th {
	background-color: none;
	background-image: none;
}


/* Size Variants */
.reveal .small {
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0;
}

.reveal .micro {
	font-size: 17px;
	line-height: 21px;
	letter-spacing: 0;
}

.reveal .tiny {
	font-size: 17px;
	line-height: 19px;
	letter-spacing: 0;
}


/******************************************************************************/
/* Google Charts */
/******************************************************************************/
/* Visualization: Organizational Chart */
#gchart_org,
#gchart_org_desc,
#gchart_org_head,
#gchart_org_branch {
	background: none;

	position: relative;
	border: none;
	line-height: 9px;
	margin: 0 2px;
	padding: 0;
	width: auto;
	overflow: visible;
}


#gchart_org table,
#gchart_org_desc table,
#gchart_org_head table,
#gchart_org_branch table {
	background: none;

	border: none !important;
	line-height: 9px !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	overflow: visible !important;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


#gchart_org table tr,
#gchart_org_desc table tr,
#gchart_org_head table tr,
#gchart_org_branch table tr {
	background: none;

	border: none !important;
	margin: 0 !important;
	padding: 0 !important;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


#gchart_org table th,
#gchart_org_desc table th,
#gchart_org_head table th,
#gchart_org_branch table th {
	background: none;

	margin: 0 !important;
	padding: 0 !important;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


#gchart_org table td,
#gchart_org_desc table td,
#gchart_org_head table td,
#gchart_org_branch table td {
	background: none;

	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", Helvetica, Arial, Sans-serif !important;
	line-height: 110% !important;
	margin: 0 !important;
	padding: 2px !important;
	text-align: center !important;
	vertical-align: middle !important;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


.google-visualization-orgchart-space-large,
.google-visualization-orgchart-space-medium,
.google-visualization-orgchart-space-small {
	border: none !important;
}

.google-visualization-orgchart-linenode {
	border: none !important;
}


#gchart_org .google-visualization-orgchart-lineleft {
	border-left: 1px solid #dcdcdc !important;
}

#gchart_org .google-visualization-orgchart-lineright {
	border-right: 1px solid #dcdcdc !important;
}

#gchart_org .google-visualization-orgchart-linebottom {
	border-bottom: 1px solid #dcdcdc !important;
}


#gchart_org_desc .google-visualization-orgchart-lineleft {
	border-left: 1px solid #f5e79e !important;
}

#gchart_org_desc .google-visualization-orgchart-lineright {
	border-right: 1px solid #f5e79e !important;
}

#gchart_org_desc .google-visualization-orgchart-linebottom {
	border-bottom: 1px solid #f5e79e !important;
}


#gchart_org_head .google-visualization-orgchart-lineleft {
	border-left: 1px solid #9acfea !important;
}

#gchart_org_head .google-visualization-orgchart-lineright {
	border-right: 1px solid #9acfea !important;
}

#gchart_org_head .google-visualization-orgchart-linebottom {
	border-bottom: 1px solid #9acfea !important;
}


#gchart_org_branch .google-visualization-orgchart-lineleft {
	border-left: 1px solid #b2dba1 !important;
}

#gchart_org_branch .google-visualization-orgchart-lineright {
	border-right: 1px solid #b2dba1 !important;
}

#gchart_org_branch .google-visualization-orgchart-linebottom {
	border-bottom: 1px solid #b2dba1 !important;
}


.google-visualization-orgchart-table tr:hover,
.google-visualization-orgchart-table tr td.google-visualization-orgchart-node:hover{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;

	filter: alpha(opacity=100) !important;
	opacity: 1 !important;

	-webkit-transition: none !important;
	transition: none !important;
}




/******************************************************************************/
/* Plugin Override */
/******************************************************************************/
/**************************************/
/* Suffusion Shortcode */
/**************************************/
/* Columns */
.suf-multic {
	margin: 0 !important;
}

.suf-multic:before,
.suf-multic:after {
	display: block !important;
	content: " " !important;
}

.suf-multic:after {
	clear: both !important;
}

.suf-multic .suf-mc-col:last-child {
	clear: right !important;
}




/******************************************************************************/
/* Print */
/******************************************************************************/
@media print {

	#social-buttons {
		display: none !important;
		width: 0 !important;
		height: 0 !important;
	}

	.back-to-beginnings {
		display: none !important;
		width: 0 !important;
		height: 0 !important;
	}

}

